@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600&display=swap');

* {
  /* Defaults */
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* Font */
  --font-family-main: 'Barlow Semi Condensed';

  /* Colors */
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 1rem;
  left: 0;
  right: 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
